APP_ENV=fpm
APP_PATH=/var/www
TIMEZONE=Asia/Shanghai

CHANGE_SOURCE=true
# Point to where the `APP_CODE_PATH` should be in the container
APP_CODE_PATH_CONTAINER=/var/www
# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

APP_CODE_PATH=/var/www

DATA_PATH=./data/
CONFIG_PATH=./
LOG_PATH=./logs/

PHP_VERSION=8.4

WWWUSER=33
WWWGROUP=33

SITE_ADDRESS=localhost

### REDIS #################################################
REDIS_VERSION=8.4-alpine
REDIS_PASSWORD=secret
REDIS_PORT=6379

### POSTGRES #################################################
POSTGRES_VERSION=17.7-alpine3.23
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret

### MINIO #################################################
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio_secret
MINIO_PORT=9526
MINIO_PORT_UI=9527

### RABBITMQ ###############################################
#dashborad username: guest password: guest
RABBITMQ_VERSION=4.1-management-alpine
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq_secret
RABBITMQ_DEFAULT_VHOST=/

### MEILISEARCH ###############################################
MEILI_PORT=7700
MEILI_MASTER_KEY=meili_secret
