services:
  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    restart: unless-stopped
    ports:
      - "9080:8080"
    environment:
      - TZ=${TZ}
      - WATCHTOWER_CLEANUP=true # Removes old images after update
      - "WATCHTOWER_SCHEDULE=0 0 18 * * *" # Updates at 6 PM daily (Uses 6-field cron schedule, not the traditional 5-field)
      - WATCHTOWER_LABEL_ENABLE=true # Updates only labeled containers
      - WATCHTOWER_HTTP_API_METRICS=true
      - WATCHTOWER_HTTP_API_TOKEN=${WATCHTOWER_API_KEY}
      - WATCHTOWER_NO_STARTUP_MESSAGE=true
    networks:
      - backend
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    security_opt:
      - no-new-privileges:true